@import 'tldraw/tldraw.css';

/* 
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f9fafb;
  /* gray-50 */
}

/* Custom tldraw overrides if needed */
.tl-container {
  background-color: transparent !important;
}